target/
logs/
build/
.settings/
.gradle/
.classpath
.project
.git/
.svn*
catalina*
/logs/
.iml
.idea
.DS_Store
*.log
/CorporatePortal.iml
/gconnect-app/src/main/java/META-INF
/gconnect-interface/src/main/java/META-INF
gconnect-app/src/main/resources/application-dev-local.properties