<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="appName"/>
    <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="maskLog" source="logging.masklog.keys" defaultValue=""/>
    <springProperty scope="context" name="path" source="logging.path" defaultValue="./logs"/>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/info-${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${path}/info-${appName}-%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.tb.gconnect.logger.MaskingPatternLayout">
                <patternsProperty>${maskLog}</patternsProperty>
                <pattern>%d %-5level [%-18.18thread] [${appName}] [%-36logger{36}] - [%X{requestId:-SYSTEM}]: %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.tb.gconnect.logger.MaskingPatternLayout">
                <patternsProperty>${maskLog}</patternsProperty>
                <pattern>%d %-5level [%-18.18thread] [${appName}] [%-36logger{36}] - [%X{requestId:-SYSTEM}]: %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/error-${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${path}/error-${appName}-%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%-18.18thread] %-36logger{36} - [%X{requestId:-SYSTEM}]: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root level="${rootLevel}">
        <!--<springProfile name="dev-local, prod">-->
            <!--<appender-ref ref="ERROR-FILE"/>-->
            <!--<appender-ref ref="FILE"/>-->
        <!--</springProfile>-->
        <springProfile name="default, dev-local, prod">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ERROR-FILE"/>
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>


</configuration>
